.head-1{
    padding-top: 50px;
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    letter-spacing: 1.3px;
    padding-bottom: 20px;
}

.gryffeditor{
    margin-left: 10%;
    margin-right: 10%;
    letter-spacing: 1.1px;
}

.middle-1{
    font-size: 1.5rem;
}

#r-1681578905122{
    padding-left: 10%;
}

#e-1681578929347{
    padding-top: 10px;
}

.span1{
    font-size: 1.3rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: 0px;
}

#e-1681579736807{
    width: 80%;
    height: 10%;
    padding-left: 24%;
}


#r-1681579953652 {
    max-width: 100%!important;
    padding-top: 2px!important;
    flex-direction: column!important;
    padding-left: 31%;
}

#e-1686217603255{
    padding-left: 80px;
}

.gryffeditor .button {
    background: #e85858;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 1.07rem;
}

#e-1681579425933{
    padding-top: 30px;
}

#e-1681579425933 .text-edit {
    background-color: #bbe2ff!important;
    padding: 40px!important;
    border-radius: 30px!important;
}

.ita{
    color: rgb(240, 80, 110); 
    font-style: italic;
}

.ulinks{
    padding-top: 40px;
    font-size:2.5rem;
}

#m-1681580499757 .gf_restabs>ul {
    border-bottom: 3px solid #4988b9;
}

.gf_restabs>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 2;
    width: 100%;
    font-size: 0px;
}

.gf_module-left {
    text-align: left;
}

element.style {
    margin-left: 0px;
    color: rgb(255, 255, 255);
}

#m-1681580499757 li.gf_tab {
    margin-right: 20px;
}

.gf_restabs>ul>li.gf_tab {
    margin: 0;
    padding: 0;
    font-size: 14px;
    margin-left: -1px;
    position: relative;
    cursor: pointer!important;
}

#m-1681580499757 li.gf_tab.gf_tab-active .item-content {
    background: #4988b9;
    border: 1px solid #4988b9;
    border-bottom: none;
}

#m-1681580499757>.gf_restabs>ul>li>span:first-child {
    padding: 10px 20px!important;
}

#m-1681580499757 li.gf_tab .item-content {
    border: 1px solid #b5b5b5;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

#e-1681587770819,#e-1681587701782,#e-1681587092163{
    font-size: 1.4rem;
    margin-left: 20px;
}

.s-1{
    color: white;
}

#e-1681587770819{
    font-size: 1.4rem;
    padding-top: 30px;
    width: 100%;
    text-align: left;
}

.h42{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 12px;
    padding-left: 10px;
    color: #333;
}

.uk-text-small {
    line-height: 1.5;
    padding-left: 10px;
}

.ess{
    color: rgb(0, 135, 239);
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

.li-1{
    margin-left: 1px;
    padding-left: 10px;

}

.ul-1{
    margin-left: 0px;
}

#r-1681579953652{
    margin-left: 0;
    padding-right: 10px;
}

#c-1681590633376{
    margin-left: 5%;
    margin-right: 60%;
}

#e-1681587857912{
    font-size: 1.4rem;
    margin-left: 17px;
}


 a-1{
    background-color: rgb(255, 255, 255);
    color:#4988b9;
    border-bottom-width: 0px;
    border-bottom-style: initial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-size: 1.4rem;
    font-family: "Work Sans", HelveticaNeue, "Helvetica Neue", sans-serif;
    opacity: 0.7;
    outline: 0px;
    text-align: center;
    font-weight: bold;
} 

.gf_restabs>ul>li.gf_tab {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-left: -1px;
    position: relative;
    cursor: pointer!important;
    color:rgb(115,115,115);
}

.pdf-5{
    color: #4988b9!important;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    padding-left: 10px;
}

.s-1{
    color: white;
}

.sv-1{
    color: #4988b9!important;
}

.img-10{
    margin-left: 20%;
}

#e-1681581180322{
    padding-left: 40px;
}

#c-1681581029626{
    padding-left: 0px;
    padding-right: 80px;
}

#e-1681581277300{
    padding-left: 50px;
    padding-right: 10px;
}

#c-1681581029525{
    padding-left: 40px;
}

#c-1681581324895{
    padding-right: 20px;
}

#e-1681581346702{
    padding-left: 40px;
}

#e-1681581368986{
    padding-left: 10px;
    padding-right: 10px;
}

#e-1681581392972{
    padding-left: 20px;
}

#r-1681581324882{
    margin-left: 0px;
    margin-right: 35%;
}

#e-1681588505892{
    font-size: 1.6rem;
    font-weight: 550;
}

#r-1681589486640{
    padding-bottom: 20px;
}